.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 58px 50px;
    font-family: "Inter", sans-serif;
    background: #FFFDD4;
    gap: 25px;
    width: 100%;
    max-width: 1024px;
}

.advantages {
    display: flex;
    justify-content: center;
    background: #FFFDD4;
}

.advantages h2 {
    font-size: 24px;
    font-weight:normal;
    text-align: center;
}

.advantagesBlocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantageBlock {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: center;
    max-width: 227px;
}

.advantageBlockTitle {
    border-radius: 30px;
    background: #FFFFFF;
    color: 000000;
    padding: 12px 24px;
}

@media screen and (max-width: 786px) {
    .wrapper {
        padding: 20px 20px 58px 20px;
        justify-content: center;
    }
    
    .advantagesBlocks {
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
    
}