.header {
    display: flex;
    justify-content: center;
    background: #FFFDD4;
}

.wrapper {
    width: 100%;
    display: flex;
    max-width: 1024px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFDD4;
    font-family: "Inter", sans-serif;
    color: #000000;
    padding: 17px 50px;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo h1 {
    font-size: 12px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 105px;
    padding: 0 21px;
}

.navbar ul li {
    position: relative;
    cursor: pointer;
    font-size: 12px;
}

.navbar ul li::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 2px;
    background-color: #000;
    left: 0;
    transition: width 0.3s ease; 
}

.navbar ul li:hover::before {
    width: 100%; 
}

.personal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.burgerMenu {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.burgerLine {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burgerMenu.opened .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.burgerMenu.opened .line2 {
    opacity: 0;
}

.burgerMenu.opened .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 1000px) {
    .navbar {
        gap: 90px;
    }
    
}

@media screen and (max-width: 950px) {
    .navbar {
        gap: 60px;
    }
    
}

@media screen and (max-width: 900px) {
    .navbar {
        gap: 40px;
    }
    
}

@media screen and (max-width: 865px) {
    .navbar {
        gap: 0;
    }

    .navbar ul {
        gap: 58px;
    }
    
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 20px;
        width: 200px;
        background: #FFFDD4;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        flex-direction: column;
        align-items: flex-start;
        transform: translateY(5px);
        border-radius: 20px;
        transition: opacity 0.3s ease;
        opacity: 0;
        justify-content: start;
    }

    .navbar ul {
        flex-direction: column;
        gap: 20px;
    }

    .showMenu {
        display: flex;
        opacity: 1;
    }

    .burgerMenu {
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }

    .personal {
        margin-top: 20px;
    }

    .navbar ul {
        padding: 0;
    }
}